* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Umum */
body {
    background-color: #f2f7f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3aafa9;
    padding: 20px;
    color: #fff
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.gambar {
    display: flex;
    align-items: center;
}

.gambar-navbar {
    width: 250px;
    height: 100px;
    border-radius: 5%;
    object-fit: cover;
    border: #fff;
}

/* Layout utama (Sidebar + Konten) */
.main-content {
    display: flex;
    min-height: 80vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #3aafa9;
    color: #f2f7f4;
    padding: 20px;
}
.gambar2 {
    display: flex;
    align-items: center;
}

.gambardokter {
    width: 180px;
    height: 220px;
    object-fit: cover;
}


.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f2f7f4;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #f2f7f4;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #027a74;
}

/* Kontainer Formulir */
.container {
    flex: 1;
    background-color: #ffffff;
    margin: 30px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #2b7a78;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3aafa9;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #027a74;
}

/* Footer */
footer {
    text-align: center;
    background-color: #3aafa9;
    font-size: 12px;
    padding: 15px;
    color: #f2f7f4;
}

/* Responsif untuk di HP */

@media (max-width: 480px) {
   .logo {
    font-size: 18px;
   }

   .container {
    margin: 10px;
    padding: 15px;
   }

   button {
    width: 100%;
   }

   .button-group {
    flex-direction: column;
   }
}